
<div class="content-wrapper">
    
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h5 class="m-0">List of Forecast ({{ date_today | date }})</h5>
          </div>
          <div  class="col-sm-6" style="text-align: right;">
            <a (click)="ExternalSignOut()" class="btn btn-primary d-block d-lg-none" style="width: 100%!important; margin-top: 20px;">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                Sign Out
            </a>
          </div>
        </div>
      </div>
    </div>

    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header custom-background">
            <div class="row">
                <div class="col-md-8"><h3 class="card-title"><span><i class="fas fa-cloud"></i></span> <span style="padding-left: 20px;">List of Forecast</span></h3></div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="txtSearch" (keyup.enter)="onEnter()" type="text" class="form-control form-control-lg" placeholder="Search City" style="font-size: 1.18rem!important;">
                        <div class="input-group-append">
                            <button (click)="getForecastByCityAndDate()" type="submit" class="btn btn-lg btn-default" style="background: #dee5eb;border-color: #ddd;color: #444; padding: 9px 30px !important;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div class="tableFixHead">
                <table id="WeatherTable" class="table table-striped projects">
                    <thead>
                      <tr>
                        <th>
                          Date (mm/dd/yyyy)
                        </th>
                        <th>
                          Temp (F)
                        </th>
                        <th class="d-none d-md-table-cell">
                          Description
                        </th>
                        <th class="d-none d-md-table-cell">
                          Main
                        </th>
                        <th class="d-none d-md-table-cell">
                          Pressure
                        </th>
                        <th class="d-none d-md-table-cell">
                          Humidity
                        </th>
                        <th class="d-none d-md-table-cell">
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of forcastDto">
                            <td>
                                {{ item.forecastDate | date: 'MM/dd/yyyy' }}
                            </td>
                            <td>
                                <a style="font-weight: bold;">
                                  {{item.temperature}}
                                </a>
                                <br/>
                                <small style="color: #6c757d;">
                                  {{item.city}}
                                </small>
                            </td>
                            <td class="d-none d-md-table-cell">
                                {{item.forecastDescription}}
                            </td>
                            <td class="d-none d-md-table-cell">
                                <span>
                                    <i class="fas" [ngClass]="{
                                    'fa-sun': item.forecastMain === 'Clear',
                                    'fa-cloud': item.forecastMain === 'Clouds',
                                    'fa-cloud-rain': item.forecastMain === 'Drizzle' || item.forecastMain === 'Rain',
                                    'fa-smog': item.forecastMain === 'Fog',
                                    'fa-temperature-high': item.forecastMain === 'Hot',
                                    'fa-poo-storm': item.forecastMain === 'Storm',
                                    'fa-wind': item.forecastMain === 'Wind'
                                    }"
                                    
                                    [ngStyle]="{
                                        color: getForecastColor(item.forecastMain)
                                    }"
                                    ></i>
                                </span>
                               <span style="padding-left: 10px;">
                                    {{item.forecastMain}}
                               </span>
                            </td>
                            <td class="d-none d-md-table-cell">
                               {{item.pressure}}
                            </td>
                            <td class="d-none d-md-table-cell">
                                {{item.humidity}}
                            </td>
                            <td class="d-none d-md-table-cell project-actions text-right">
                                <a class="btn btn-primary btn-sm custom-button-reset">
                                    <i class="fas fa-calendar-alt">
                                    </i>
                                    Read More..
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </section>

  </div>

