    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4"
    >
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link">
        <img src="assets/maintemplate/dist/img/logo_secondary.png" alt="Weather Forecast Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Weather Forecast</span>
      </a>
  
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-header">User Dashboard</li>
            <li style="cursor: pointer;" class="nav-item">
              <a id="dashboard_item"  [routerLink]="['/portal/my-dashboard']" routerLinkActive="active" class="nav-link">
                <i class="nav-icon fas fa-home"></i>
                <p>
                 Dashboard
                </p>
              </a>
            </li>
            <li style="cursor: pointer;" class="nav-item">
              <a id="recent_forecast" [routerLink]="['/portal/recent-forecast']"  routerLinkActive="active" class="nav-link">
                <i class="nav-icon fas fa-business-time"></i>
                <p>
                 Recent Forcast
                </p>
              </a>
            </li>
            <li class="nav-header">Action</li>
            <li style="cursor: pointer;" class="nav-item">
              <a (click)="ExternalSignOut()" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                  Sign Out
                </p>
              </a>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <div id="snackbar"></div>

    <app-spinner></app-spinner>
