  <!-- ======= Hero Section ======= -->
<section class="hero-section" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 hero-text-image">
        <div class="row">
          <div class="col-lg-8 text-center text-lg-start">
            <h1 data-aos="fade-right">GitHub</h1>
            <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
              Logging in using Github. Please wait...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
