  <!-- ======= Hero Section ======= -->
<section class="hero-section" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 hero-text-image">
        <div class="row">
          <div class="col-lg-12 text-center text-lg-start">
           <div style="background-color: #b5d4e9; padding: 20px; border-radius: 10px;" class="git-content">
             <h4 style="color: black;" data-aos="fade-right">GitHub Authentication</h4>
            <p class="mb-5" data-aos="fade-right" data-aos-delay="100">
             <img class="animation__shake" src="assets/maintemplate/dist/img/icons8-github-64.png" alt="Logo" height="30" width="30"> <span style="color: black;">Logging in using Github. Please wait...</span>
            </p>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Hero -->
